body {
    margin: 0;
  
    /* BEGIN (write your solution here) */
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    font-family: sans-serif;
    /* END */
  }
  
  /* BEGIN (write your solution here) */
  h1 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 60px;
    text-align: center;
  }
    /* END */
  
  h2 {
    /* BEGIN (write your solution here) */
    margin-top: 0;
    padding-bottom: 30px;
    font-size: 25px;
    text-align: center;
    /* END */
    border-bottom: 2px solid #e3e3e3;
  }
  
  main {
    width: 900px;
    margin: auto;
  }
  
  /* BEGIN (write your solution here) */
  section {
    margin: 50px 0;
    padding: 0 50px;
  }

  section>h2 {
    margin: 0;
    text-align: left;
    border:0;
  }

    li {
    margin-bottom: 10px;
  }
  /* END */
  